* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}
.text3 {
    font-family: "Oswald", sans-serif;
     font-optical-sizing: auto;
}

.Menu {
    display: flex;
    justify-content: center;
}
.text3 {
    display:flex ;
    justify-content: center;

}
.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.text3 {
    font-size: 40px;
    color: aqua;
}
.Menu {
    font-size: 25px;
    margin: auto;
}
.btn {
    margin-right: 25px;
}

.Menu a {
    text-decoration: none;
    background-color: rgb(191, 124, 197);
    padding: 6px;  
}

.store-item {
    width: 300px;
    padding: 1rem;
}
.store-item img {
    width: 100%;

    
}